
*{
    margin: 0;
    padding: 0;
}
:root {
    --bg-custom: rgba(229, 221, 198,0.44);
    --blue-custom: #00A8E8;
    --yellow-text: #FFC107;
    --bg-button-custom-blue:rgba(0,  139,199,0.83);
    --bg-button-custom-blue-hover:rgba(0,  139,199,0.96);
}
.navbar, footer{
    background: var(--blue-custom);
    font-family: 'Oswald', sans-serif;
}
.navbar a, footer a{
    color: var(--yellow-text);
    font-weight: bold;
}
.brand-logo img{
    max-width: 95px;
}

body{
    background: var(--bg-custom);
}
h1, h2, label, p{
    font-family: 'Pangolin', cursive;
}
.country-select{
    border-width: 2px;
    border-style: inset;
    border-color:rgb(118, 118, 118) rgb(133, 133, 133);!important;
}
.register-form input:placeholder-shown {
    font-style: italic;
}
.btn-custom-blue{
    background-color: rgba(0,  139,199,0.83);!important;
    font-family: 'Courgette', cursive;
    color:#FEFEFE;
    min-width: 130px;
    border-radius: 8px;
    min-height: 64px;
}
.btn-custom-blue:hover, .btn-custom-blue:active{
    background-color: var(--bg-button-custom-blue-hover);!important;
    color: var(--yellow-text);
}
.register-form{
    background: rgba(0, 139, 199, 0.6);
    color: var(--yellow-text);
    max-width: 935px;
    font-family: 'Lilita One', sans-serif;
}